:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }
  body {
   /* background-color: var(--body-bg-color);*/
    margin-left: 2%;
    margin-top: 2%;
  }
  
  

  .main {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 20% 35% 38%;
    grid-template-rows: 6% 11% 5% 14% 15% 21% 11%;
    grid-template-areas: "prof proj proj"
                         "prof proj1 proj2"
                         "lin rec rec"
                         "lin post post"
                         "tec . ."
                         "ex . ."
                         "edu . .";
    column-gap: 3%;
    row-gap: 2%;                     
  }
  .profile {
        box-sizing: border-box;
        grid-area: prof;
        border: solid 2px var(--bg-cards);
        width: 20vw;
        height: 37vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
        box-sizing: border-box;
        }
        .profile img {
            
            margin-top: 5%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            width: 40%;
            height: 40%;
        }
        .profile h2 {
            text-align: center;
            margin-top: 12%;
            
        }
        .profile p {
            text-align: center;
            margin-bottom: 60%;
        }
    .links {
        grid-area: lin;
        border: solid 2px var(--bg-cards);
        width: 20vw;
        height: 40vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
        
    }

    .icones {
        display: flex;
        flex-direction: column;
}

    .icones img {
        right: 25px;
        width: 25px;
        margin-left: 20px;
    }
    
    
    .tecnologia {
        box-sizing: border-box;
        grid-area: tec;
        border: solid 2px var(--bg-cards);
        width: 20vw;
        height: 30vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
        }
        .tecnologia p {
            margin-left: 5%;
            margin-top: 5%;

        }
    .experiencias {
        grid-area: ex;
        border: solid 2px var(--bg-cards);
        width: 20vw;
        height: 40vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
    }
    .educação {
        grid-area: edu;
        border: solid 2px var(--bg-cards);
        width: 20vw;
        height: 40vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
     }
    .projetos {
        grid-area: proj;
        border: solid 2px var(--bg-cards);
        width: 72vw;
        height: 10vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
    }
    .projeto1 {
        grid-area: proj1;
        border: solid 2px var(--bg-cards);
        width: 35vw;
        height: 20vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
    }
    .projeto2 {
        grid-area: proj2;
        border: solid 2px var(--bg-cards);
        width: 35vw;
        height: 20vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
    }
    .recentpost {
        grid-area: rec;
        border: solid 2px var(--bg-cards);
        width: 72vw;
        height: 10vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
    }
    .post {
        grid-area: post;
        border: solid 2px var(--bg-cards);
        width: 72vw;
        height: 25vh;
        background-color: var(--bg-cards);
        border-radius: 20px;
    }